{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'expenses' %}">Expenses</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Expense</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'add-expenses' %}" method="post">
        {% include 'partials/_messages.html' %}
        {% csrf_token %}
        <div class="form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            step="0.01"
            class="form-control form-control-sm"
            id="amount"
            name="amount"
            value="{{ values.amount }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="description"
            name="description"
            value="{{ values.description }}"
            required
          />
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" id="category" name="category" required>
            <option value="" disabled selected>Select a category</option>
            {% for category in categories %}
              <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="expense_date">Date of Expense</label>
          <input
            type="date"
            class="form-control form-control-sm"
            id="expense_date"
            name="expense_date"
            value="{{ values.expense_date }}"
            required
          />
        </div>

        <input
          type="submit"
          value="Submit"
          class="btn btn-primary"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}